.aspect-ratio\:4\/3 {
  --aspect-ratio: 4 / 3 !important;
}

.aspect-ratio\:16\/9 {
  --aspect-ratio: 16 / 9 !important;
}

.full-bleed {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw !important;
}

.justify-content\:space-between {
  justify-content: space-between !important;
}
